.containerSection{
    display: flex;
}

.publicaciones{
    justify-content: center;
    text-align: center;
}

.containerCardList{
    margin-top: 50px;
}

.listadoTarjetas{
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}


.loginview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; 
}

main {
    flex: 1;
}